<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siervi.claudio.easysale">

    <application
        android:name=".EasySale"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SalesActivity"
            android:label="@string/tit_vendas"
            android:parentActivityName=".MainActivity"></activity>

        <activity
            android:name=".ReportActivity"
            android:label="@string/tit_sales_report"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ListProductActivity"
            android:label="@string/tit_list_products"
            android:parentActivityName=".MainActivity"></activity>

        <activity
            android:name=".AddProductActivity"
            android:label="@string/tit_add_products"
            android:parentActivityName=".ListProductActivity" />

        <activity android:name=".EditProductActivity"
            android:label="@string/tit_edit_products"
            android:parentActivityName=".ListProductActivity">
        </activity>


    </application>

</manifest>